.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px !important;
	right:40px;
	bottom: 0;
	background-color: #bbbbbb;
	color:black !important;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	z-index:100;
	
}

#float{
	visibility: hidden;
}
.float:hover {
	text-decoration: none;
	color: white !important;
  	background-color: #48bb78;
}

.my-float{
	margin-top:16px;
}
@media (max-width: 992px) {
	.float{
		width:50px;
		height:50px;
		bottom:30px !important;
		right:30px;
		font-size:20px;
	}
}